<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="projectModel" connectionString="Data Source=fsczprct0041;Initial Catalog=CDFramework;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>