@model string

@if (Model == null)
{

}
else
{
<div class=tile-container>
    <div class=tile-header>
        <span>@Model</span>
    </div>
    <div class=tile-content></div>
    <a href="https://www.datalineageservices.com">You can buy a Data Lineage Services license on this site.</a>
</div>

    
}
