
@{
    ViewBag.Title = "NoLicense";
}

<h2>A service should not use this account, because you have not purchased a license for this account.</h2>
<a href="https://dlsclientdev.azurewebsites.net/account/signin">Sign in.</a>
<a href="https://www.datalineageservices.com">You can buy a Data Lineage Services license on this site.</a>

